<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>player</title>
        <link rel="stylesheet" href="/static/css/pico.min.css" />
    </head>
    <body style="margin: 1rem 0rem">
        <main class="pico container">
            <nav>
                <ul>
                    <li><strong>Home</strong></li>
                </ul>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/list">List</a></li>
                </ul>
            </nav>
            <h3>step 1: run sh command in workspace</h3>
            <pre><code id="copy-cmd" style="overflow-wrap: break-word; white-space: pre-wrap">printf &quot;\033]52;c;%s\a&quot; &quot;$(cd /home/student/.local/state/workspace-logs/ || exit; [ -f heartbeat.log ] &amp;&amp; HB=$(cat heartbeat.log | zstd -3 | base64 -w0); HB=&quot;[\&quot;heartbeat\&quot;,\&quot;$HB\&quot;]&quot;; CASTS=&quot;$(for f in *.cast; do [ -f &quot;$f&quot; ] || continue; c=$(cat &quot;$f&quot; | zstd -3 | base64 -w0); fn=$(printf &#39;%s&#39; &quot;$f&quot; | sed &#39;s/&quot;/\\&quot;/g&#39;); echo &quot;[\&quot;cast\&quot;,[${fn%%.*},\&quot;$c\&quot;]]&quot;; done | sed &#39;s/,$//&#39;)&quot;; JSON=$(printf &#39;%s\n%s\n&#39; &quot;$HB&quot; &quot;$CASTS&quot;); base64 -w 0 &lt;&lt;&lt;&quot;$JSON&quot;)&quot;</code></pre>

            <h3>step 2: paste</h3>
            <div>
                <label class="label-block" for="notes">optional notes:</label>
                <textarea id="notes" type="text" placeholder="notes..."></textarea>
            </div>

            <div>
                <label class="label-block" for="json-data">paste here:</label>
                <textarea
                    id="json-data"
                    placeholder='[{"filename":"time.cast","content":"base64..."}]'
                ></textarea>
            </div>

            <h3>step 3: upload</h3>
            <button id="submit-button">upload</button>
            <div id="result-link" style="margin-top: 20px"></div>
        </main>

        <script>
            document.getElementById("submit-button").addEventListener("click", () => {
                const notes = document.getElementById("notes").value;
                const jsonData = document.getElementById("json-data").value;
                obj = {
                    notes: notes,
                    logs: jsonData,
                };
                console.log(obj);

                fetch("/api/upload", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(obj),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        document.getElementById("submit-button").style.display = "none";

                        const linkContainer = document.getElementById("result-link");
                        linkContainer.innerHTML = "";
                        const aTag = document.createElement("a");

                        const full = new URL(data.url, window.location.origin).href;

                        aTag.href = full;
                        aTag.textContent = `${full}`;
                        linkContainer.appendChild(aTag);
                    })
                    .catch((err) => {
                        console.error("error: ", err);
                    });
            });
        </script>
    </body>
</html>
